body {
  /* background-image: url('https://i.pinimg.com/736x/07/a6/e2/07a6e2f4440ee1f69ed60a5897c1bfc8.jpg'); */
  /*background-image: url('https://www.wallpapertip.com/wmimgs/80-805789_4k-ultra-hd-wallpaper-4k-gaming.jpg');  */
  
  /* background-image: url('https://ciudaddecorrientes.gov.ar/sites/default/themes/ciudaddecorrientes/logo.png');
  /* background-color:#6d6767; 
  background-repeat: no-repeat;
  background-attachment: fixed;*/
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
