.selectfont{
    font-size:16px;
    font-family:  Trebuchet;
    /* font-weight: bold;  */
    /* display: inline-block; */
    /* width: 80px; */
    /* color: blue;*/
    /* text-shadow: 1px 1px 1px black; */
  }

  .colorLetras{
    color: rgb(242, 234, 234);
    background-color: rgb(155, 45, 100);
    border:2px solid black;    
}

.colorLetrasGris{
  color: rgb(242, 234, 234);
  background-color: rgb(72, 70, 71);
  border:2px solid black;    
}

.negrita{
  color: #901414;
  font-weight: bold;
}