.logo{
    border-radius:180px;
    border:5px solid black;
    width: 230px;
    height: 230px;
    animation-duration: 3s;
    animation-name: logo;
    /* animation-iteration-count: infinite; */
}

@keyframes logo{
    50%{
        width: 280px;
        height: 280px;
    }
    50%{
        width: 330px;
        height: 330px;
    }
}

.colorLetras{
    color: rgb(242, 234, 234);
    background-color: rgb(155, 45, 100);
    border:2px solid black;
    
}

.colorLetrasBienvenido{   
    border-radius:30px;
    border:5px solid black;
    background-color: rgb(88, 85, 85);
    color: white;
    margin: 1rem;
    /* padding: 1rem; */
    /* text-align: center; */
    width: 600px;
    /* height: 350px; */
}

.padre {
    display: grid;
    justify-content: center;
  }
  
.hijo {
    padding: 10px;
    margin: 10px;
    color: white;
    text-shadow: black 1px 3px;        
  }