.logo{
    border-radius:2000px;
    /* border: 3px solid black; */
    width: 200px;
    height: 200px;
    animation-duration: 4s;
    animation-name: logo;
    animation-iteration-count: 1; /*infinite */
}

@keyframes logo{
    50%{
        width: 240px;
        height: 240px;
    }
    50%{
        width: 245px;
        height: 245px;
    }
}

.colorLetras{
    color: rgb(15, 15, 15);
    background-color: rgb(218, 236, 13);
    border:2px solid black; 
    text-shadow: black 1px 3px;   
}
.colorLetrasamarillas{
    font-size:24px;
    color: rgb(242, 234, 234);
    background-color: rgb(155, 188, 36);
    border:2px solid black;
    text-shadow: black 1px 3px;       
}


.colorLetrasBienvenido{   
    border-radius:30px;
    border:5px solid black;
    background-color: rgb(88, 85, 85);
    color: white;
    margin: 1rem;
    /* padding: 1rem; */
    /* text-align: center; */
    width: 600px;
    /* height: 350px; */
}

.padre {
    display: grid;
    justify-content: center;
  }
  
.hijo {
    padding: 10px;
    margin: 10px;
    color: white;
    text-shadow: black 1px 3px;        
  }